<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
    </head>
    <body>
        <h3><a href="/admin/">Admin</a></h3>
        <ul>
            {% for intern in jobs %}
                <li>{{ intern.postal }} - {{ intern.get_status_display }}</li>
            {% endfor %}
            </ul>
            <hr/>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <!-- "/interns/" {{ form }}  {{form.non_field_errors}} -->
                <input type="submit" value="Submit" />
            </form>
    </body>
</html>